<%= render :partial => 'pages/iphone_page' %>

<% if authorize_task?(@app_profile.user_id) %>

  <div class="span-10 last">
    <h1><%= @page.title %></h1>

    <p><strong>Subtitle:</strong> <i><%= @page.sub_title %></i></p>

    <p>
      <strong>Description</strong>
      <%= simple_format @page.content %>
    </p>

    <p>
      <strong>Coordinates</strong><br/>
       Longitude: <%= @page.longitude %> <br/>
       Latitude: <%= @page.latitude %>
    </p>

    <ul>
      <li><%= link_to "Edit", edit_page_path(@page) %></li>

      <li><%= link_to "Delete", page_path(@page), :confirm => "Are you sure?", :method => :delete %></li>

      <li><%= link_to "Manage #{@pictures.count} Pictures", pictures_path(:page_id=> @page.id) %></li>

    </ul>
  </div>

<% end %>
