<%= render :partial => 'pages/iphone_page' %>

<% if authorize_task?(@app_profile.user_id) %>

  <div class="span-10 last">
    <h1><%= @page.title %></h1>

    <p><i><%= @page.sub_title %></i></p>

    <p><%= simple_format @page.content %></p>

    <ul>
      <li><%= link_to "Edit", edit_single_page_path(@page) %></li>

      <li><%= link_to "Delete", single_page_path(@page), :confirm => "Are you sure?", :method => :delete %></li>

      <li><%= link_to "Manage #{@pictures.count} Pictures", pictures_path(:page_id=> @page.id) %></li>

    </ul>
  </div>

<% end %>

