<h1>Admin Home</h1>

<h2>Users - <%= @users.size %></h2>

<table>
  <tr>
    <th>Email</th>
    <th>Role</th>
  </tr>
  <% @users.each do |u| %>
  <tr>
    <td><%= u.email %></td>
    <td><%= u.role %></td>
  </tr>
  <% end %>
</table>

<h2>App Profiles - <%= @app_profiles.size %></h2>

<table>
  <tr>
    <th>Application Name</th>
    <th>Email</th>
    <th>Date Created</th>
    <th>Last Updated</th>
    <th>Sections</th>
    <th>Pages</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>
  <% @app_profiles.each do |a| %>
  <tr>
    <td><%= a.app_name %></td>
    <td><%= a.user.email %></td>
    <td nowrap><%= format_date a.created_at %></td>
    <td nowrap><%= format_date a.updated_at %></td>
    <td><%= a.sections.count %></td>
    <td><%= a.pages.count %></td>
    <td><%= link_to "Summary", app_profile_summary_path(a) %></td>
    <td><%= link_to "Manage", app_profile_path(a) %></td>
    <td><%= link_to "Delete", app_profile_path(a), :confirm => "Are you sure?", :method => :delete %></td>
    <td><% if a.sections.count > 0 && a.pages.count > 0 %><%= link_to "Export", export_path(a) %><% end %></td>
  </tr>
  <% end %>
</table>

<h2>Application Builds- <%= @app_builds.size %></h2>

<table>
  <tr>
    <th>Application Name</th>
    <th width="80px">Binary Name (12 chars)</th>
    <th width="50px">Version Number</th>
    <th width="250px">IPA Name</th>
    <th>Email</th>
    <th>Created/Updated</th>
    <th>&nbsp;</th>
  </tr>
  <% @app_builds.each do |b| %>
  <tr>
    <td><%= b.app_profile.app_name %></td>
    <td><%= b.binary_name %></td>
    <td><%= b.version_number %></td>
    <td><%= link_to b.ipa_name, download_ipa_path(b.ipa_name) %></td>
    <td><%= b.user.email %></td>
    <td><%= format_date b.created_at %><br/><%= format_date b.updated_at %></td>
    <td><%= link_to "Summary", app_profile_summary_path(b.app_profile) %></td>
  </tr>
  <% end %>
</table>
