<% if temporary_check? %><div class="span-14"><% else %><div style="margin-left: 220px;"><% end %>
  <div id="iphone_bg_container">
    <div id="iphone_content">
      <div style="<%= css_background_front(@image_asset_background_front) %>">
        <div id="button_right">
          <% @sections.each do |section| %>
            <div class="button_1_right_gray_ts_136x34">
              <p><%= link_to section.title, section_path(section) %></p>
            </div>
          <% end %>
          <% @single_pages.each do |sp| %>
            <div class="button_1_right_gray_ts_136x34">
              <p><%= link_to sp.title, single_page_path(sp) %></p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<% if temporary_check? %>

  <div class="span-10 last">
    <h1><%= @app_profile.app_name %> App Main Screen</h1>

    <p>This is the front screen of your app. Customise by adding a background image and adding main sections of your app.</p>

    <h2>Step 1: Background Front Image</h2>
    <p>Optimal image dimension (wxh) is "320 x 460".</p>

    <div style="margin-left: 15px;">
      <%= thumb_background_front @image_asset_background_front %><br/>
    </div>

    <div class="action_items buttons">
      <%= link_to "Update Background", new_image_asset_path(:app_profile_id => @app_profile.id, :asset_type => 'background_front') %>
    </div>

    <div class="clear"></div>

    <hr/>

    <h2>Step 2: Sections</h2>

    <ul>
      <% @sections.each do |section| %>
      <li style="padding: 5px">
        <b><%= link_to section.title, section_path(section) %></b> 
        -
        <%= link_to "Edit", edit_section_path(section) %>
        <%= link_to "Delete", section_path(section), :confirm => "Are you sure", :method => :delete %>
      </li>
      <% end %>
    </ul>

    <div class="action_items buttons">
      <%= link_to "Add New Section", new_section_path(:app_profile_id => @app_profile.id) %>
    </div>

    <div class="clear"></div>

    <h2>Step 2: Single Pages</h2>
    <ul>
      <% @single_pages.each do |sp| %>
      <li style="padding: 5px">
        <b><%= link_to sp.title, single_page_path(sp) %></b> 
        -
        <%= link_to "Edit", edit_single_page_path(sp) %>
        <%= link_to "Delete", single_page_path(sp), :confirm => "Are you sure", :method => :delete %>
      </li>
      <% end %>
    </ul>
    <div class="action_items buttons">
      <%= link_to "Add New Single Page", new_single_page_path(:app_profile_id => @app_profile.id) %>
    </div>
  </div>

<% end %>
