<table>
  <tr>
    <td><strong>Build Request Name</strong></td>
    <td><%= @app_build.build_request_name %></td>
  </tr>
  <tr>
    <td>Product Name</td>
    <td><%= @app_build.product_name %></td>
  </tr>
  <tr>
    <td>Binary Name</td>
    <td><%= @app_build.binary_name %></td>
  </tr>
  <tr>
    <td>Version Number</td>
    <td><%= @app_build.version_number %></td>
  </tr>
  <tr>
    <td>Request Date Created</td>
    <td><%= @app_build.created_at %></td>
  </tr>
  <tr>
    <td>User Comment</td>
    <td><%= simple_format @app_build.comment %></td>
  </tr>
  <tr>
    <td>Download IPA</td>
    <td><%= link_to @app_build.ipa_name, download_ipa_path(@app_build.ipa_name) %> (right-click and save-as)</td>
  </tr>
  <tr>
    <td>Build Status</td>
    <td><%= @app_build.build_status %></td>
  </tr>
  <tr>
    <td>Developer Comment</td>
    <td><%= simple_format @app_build.build_comment %></td>
  </tr>
  <tr>
    <td>Build Updated</td>
    <td><%= @app_build.updated_at %></td>
  </tr>
</table>
