<% if user_signed_in? %>
  <div style="text-align:center;" class="header_bg">
    You are logged in as <span style="color:red;"><%= current_user.email %></span> as a <span style="color:red;"><%= current_user.role %></span> user
  </div>
<% end %>

<div class="span-24 last header_bg">
  <% if not user_signed_in? %>
    <div style="height: 45px; margin: auto; width: 190px;">
      <ul class="horizontal_links navbar_links">
          <li><%= link_to "Log In", new_user_session_path %></li>
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
      </ul>
    </div>
  <% else %>
    <div style="height: 45px; margin: auto; width: 330px;">
      <ul class="horizontal_links navbar_links">
          <li><%= link_to "My Account", edit_user_registration_path %> </li>

          <% if normal_user? %>
            <li><%= link_to "My Apps", app_profiles_path %></li>
          <% elsif admin_user? %>
            <li><%= link_to "Admin", admin_home_path %></li>
          <% end %>

          <li><%= link_to "Log out", destroy_user_session_path %></li>
      </ul>
    </div>
  <% end %>
</div>
